{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block title %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts
    '@TooBigAppBundle/Resources/public/js/PreRegister.js'
    '@TooBigAppBundle/Resources/public/js/jquery.maskedinput.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        jQuery(function($){
            $("#PreRegister_phone").mask("+7(999) 999-99-99");
        });
    </script>

{% endblock javascripts %}

{% block page_body %}

    <div class="pre-register form-phone-input">
        {{ form_start(form, {'action': path('app_pre_register_phone')}) }}


        <div class="form-group control-group">
            <label id="PreRegister-phone-label" for="PreRegister_phone" class="col-sm-3 control-label">{{ 'Мобильный телефон'|trans({}, 'SonataUserBundle') }}</label>
            <div class="col-sm-5">
                {{ form_widget(form.phone, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.save) }}
            </div>
        </div>
        <div id="sms-check-code">

        </div>
        {{ form_end(form) }}
    </div>

{% endblock page_body %}