    <form name='RateComment' class='rate-comment edit-form form-horizontal'>

    <div class='form-group control-group'>
        <label for='RateComment_comment' class='col-sm-3 control-label'>{{ 'Комментарий'|trans({}, 'SonataUserBundle') }}</label>
        <div class='col-sm-9'>{{ form_widget(form.comment, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    <div class='form-group control-group'>
        <label for='RateComment_rate' class='col-sm-3 control-label'>{{ 'Оценка'|trans({}, 'SonataUserBundle') }}</label>
        <div class='col-sm-9'>{{ form_widget(form.rate, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    {{ form_end(form) }}