{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block title %}Редактирование объявления "{{ posting.title }}"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/bundles/toobigapp/css/jquery.fileupload-ui.css" rel="stylesheet">
{% endblock stylesheets %}


{% block page_header %}
        <div class="page-header">
            <h1>Редактирование объявления "{{ posting.title }}"</h1>
        </div>
{% endblock page_header %}





{% block page_body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}

    {{ flashMessage }}

    {% endfor %}

    {# Underscore templates for the uploader #}
    {% include "TooBigAppBundle:Item\\FileUpload:templates.html.twig" %}

    <form name="Item" class="edit-form form-horizontal" action="{{ path('app_item_edit', { item_id: posting.id, editId: editId }) }}" method="post" {{ form_enctype(form) }}>

    <div class="form-group control-group">
        <label for="Item_title" class="col-sm-3 control-label">{{ 'Наименование'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_rubric" class="col-sm-3 control-label">{{ 'Рубрика'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">
            {{ form_widget(form.rubric, {'attr': {'class':'form-control'}}) }}
            {% if breadcrumbs is defined %}
                {% for rub in breadcrumbs %}
                    <span class="breadcrumbs-item"><a href="{{ entitypath(rub) }}" class="breadcrumbs-item-link link"><span>{{ rub }}</span></a></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group">
        <label for="Item_gender" class="col-sm-3 control-label">{{ 'Пол'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.gender, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_color" class="col-sm-3 control-label">{{ 'Цвет'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.color, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_brand" class="col-sm-3 control-label">{{ 'Бренд'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.brand, {'attr': {'class':'brand form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_model" class="col-sm-3 control-label">{{ 'Модель'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.model, {'attr': {'class':'model form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_size_type" class="col-sm-3 control-label">{{ 'Размерный ряд'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.size_type, {'attr': {'class':'size-type form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_size" class="col-sm-3 control-label">{{ 'Размер'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.size, {'attr': {'class':'size form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_content" class="col-sm-3 control-label">{{ 'Описание'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.content, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    <div class="form-group control-group">
        <label for="Item_price" class="col-sm-3 control-label">{{ 'Стоимость'|trans({}, 'SonataUserBundle') }}</label>
        <div class="col-sm-9">{{ form_widget(form.price, {'attr': {'class':'form-control'}}) }}</div>
    </div>

    {# Hydrated by javascript #}
    <div class="file-uploader"></div>

    <div class="form-group control-group">
        <div class="col-sm-12 form-buttons">
            {{ form_widget(form.save) }}{{ form_widget(form.reset) }}
        </div>
    </div>

    {{ form_end(form) }}

    <script type="text/javascript">

        // Enable the file uploader

        $(function() {
            new PunkAveFileUploader({
                'uploadUrl': {{ path('app_file_upload', { editId: editId }) | json_encode | raw }},
                'viewUrl': {{ ('/uploads/tmp/attachments/' ~ editId) | json_encode | raw }},
                'el': '.file-uploader',
                'existingFiles': {{ punkave_get_files('tmp/attachments/' ~ editId) | json_encode | raw }},
                'delaySubmitWhileUploading': '.edit-form'
            });
        });
    </script>

{% endblock page_body %}