{% extends 'TooBigAppBundle::page-with-header.html.twig' %}
{% block javascripts %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% javascripts
    '@IphpCoreBundle/Resources/public/js/jquery.min.js'
    '@IphpCoreBundle/Resources/public/js/jquery-ui.js'
    '@IphpCoreBundle/Resources/public/js/jquery-ui-i18n.js'
    '@TooBigAppBundle/Resources/public/js/Item.js'
    '@IphpCoreBundle/Resources/public/bootstrap/3.3/js/bootstrap.min.js'
    '@TooBigAppBundle/Resources/public/js/jquery-1.6.4.js'
    '@TooBigAppBundle/Resources/public/js/jquery.jqzoom-core.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="application/javascript">
        $(document).ready(function() {
            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens:true,
                preloadImages: false,
                alwaysOn:false
            });
        });
    </script>

    <script>
        $(function () {
            $('.tTip').tooltip();
            {% set messages = app.session.flashBag.get(constant('TooBig\\AppBundle\\Service\\FlashBag::MESSAGE')) %}
            {% if messages is not empty %}
            var $alertModal = $('#alert_modal');
            $alertModal
                    .find('div.modal-body')
                    .html('{{ messages | join('<br/>') | raw }}');
            $alertModal.modal('toggle');
            {% endif %}
        });
    </script>

{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/bundles/toobigapp/css/jqzoom.css" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="/" class="breadcrumbs-item-link link" itemprop="url"><span itemprop="title">Главная</span></a></span>
        {% if breadcrumbs is defined %}
            {% for rubric in breadcrumbs %}
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="{{ entitypath(rubric) }}" itemprop="url" class="breadcrumbs-item-link link"><span itemprop="title">{{ rubric }}</span></a></span>
            {% endfor %}
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block page_header %}
{% if content %}
<div class="page-header">
    <h1>{{ content }}<br/>
        <small>{{ content.abstract}}</small>
    </h1>
    <div class=""><span class="item-title">Добавлено </span> <span class="item-published">{{ content.createdAt | date("d.m.Y H:i:s") }}</span></div>
    <a class="btn btn-success" href="{{ path('app_item_add', {'rubric_id': content.rubric.id}) }}">Добавить объявление</a> в раздел "<a href="{{ entitypath(content.rubric.parent) }}">{{ content.rubric.parent }}</a> > <a href="{{ entitypath(content.rubric) }}">{{ content.rubric.title }}</a>"
    или <a class="btn btn-success" href="{{ path('app_item_edit', {'item_id': content.id}) }}">Редакировать это объявление</a>

    {% for flashMessage in app.session.flashbag.get('notice') %}

        {{ flashMessage | raw }}

    {% endfor %}

</div>
{% else %}
{{ parent() }}
{% endif%}
{% endblock page_header %}





{% block page_body %}
{% if content %}


{# block content_image %}
{% if content.image %}
    <a href="{{ content.image.path }}" target="_blank"><img src="{{ content.image.path }}" class="img-polaroid"></a>
{% endif %}
{% endblock #}

<div class="item-group row">
    <div class="col-sm-4">
        {% block content_images  %}

            {%  if content.imagesMedia | length %}

                <div class="shopitem-img-div">
                    <div class="clearfix">
                        <a class="jqzoom" rel='gal1' title="triumph" href="{% path content.imagesMedia[0].media, 'reference' %}" rel="{{ content.imagesMedia[0].id }}">
                            <img class="shopitem-img-main" src="{% path content.imagesMedia[0].media, 'preview' %}"/>
                        </a>
                    </div>
                </div>
                <div class="shopitem-img-list-div">
                    <ul id="thumblist" class="clearfix">
                        {% for image in content.imagesMedia  if image.media %}
                            <li>
                                <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '{% path image.media, 'preview' %}',largeimage: '{% path image.media, 'reference' %}'}">
                                    <img border="0" src="{% path image.media, 'small' %}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {%  elseif files | length %}

                <div class="shopitem-img-div">
                    <div class="clearfix">
                        <a class="jqzoom" rel='gal1' title="triumph" href="/uploads/attachments/{{ content.id }}/originals/{{ files[0] }}" rel="{{ files[0] }}">
                            <img class="shopitem-img-main" src="/uploads/attachments/{{ content.id }}/small/{{ files[0] }}"/>
                        </a>
                    </div>
                </div>
                <div class="shopitem-img-list-div">
                    <ul id="thumblist" class="clearfix">
                        {% for file in files %}
                            <li>
                                <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '/uploads/attachments/{{ content.id }}/small/{{ file }}',largeimage: '/uploads/attachments/{{ content.id }}/originals/{{ file }}'}">
                                    <img border="0" src="/uploads/attachments/{{ content.id }}/thumbnails/{{ file }}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}

        {% endblock content_images %}

        {{ render(controller('TooBigAppBundle:Item:watchStatus', { 'item_id': content.id })) }}

    </div>
    <div class="col-sm-8">
        {% block content_content %}

            {% block content_brand  %}
                <div class="item-feature item-brand">
                    {% if content.brand is defined and content.brand is not null %}
                        <span class="h3 item-brand-value">{{ content.brand | raw }}
                        {% if content.model is defined and content.model is not null %} / {{ content.model | raw }}{% endif %}
                        </span>
                    {% endif %}
                </div>
            {% endblock content_brand  %}

            {% block content_model  %}
                <div class="item-feature item-model">
                    {% if content.model is defined and content.model is not null %}
                        <span class="item-title">Модель:</span> <span class="item-model-value">{{ content.model | raw }}</span>
                    {% endif %}
                </div>
            {% endblock content_model  %}

            <div class="item-feature item-content">
                {{ content.content | raw }}
            </div>

            {% block content_size  %}
            <div class="item-feature item-size">
            {% if content.size is defined and content.size is not null %}
                <span class="item-title">Размер</span> ( <span class="item-size-type">{{ content.sizeType | raw }}</span> ): <span class="item-size-value">{{ content.size | raw }}</span>
            {% endif %}
            </div>
            {% endblock content_size  %}

            {% block content_price %}
            <div class="item-feature item-price">
                {% if content.price %}
                    <span class="item-title">Цена:</span> <span class="item-price-value">{{ content.price }}</span> <span class="item-price-currency">руб</span>
                {% endif %}
            </div>
            {% endblock content_price %}

            {% block content_author %}
            <div class="item-feature item-author">
                {% if content.createdBy %}
                    <span class="item-title">Продавец:</span> <span class="item-author-name">{{ content.createdBy }}</span>
                {% endif %}
            </div>
            {% endblock content_author %}

            {% block content_rate %}
                {{ render(controller('TooBigAppBundle:Item:getItemRating', { 'item_id': content.id })) }}
            {% endblock content_rate %}

        {% endblock content_content %}

        {% if content.links | length %}
            {% block content_links %}
                <h3>Ссылки</h3>

                <ul>
                    {% for link in content.links %}
                        {% block content_link %}
                            <li><a target="_blank" href="{{ link.url }}">{{ link.title}}</a></li>
                        {% endblock content_link %}
                    {% endfor %}
                </ul>
            {% endblock content_links %}
        {% endif %}

        {# if content.publishedFiles| length %}
        {% block content_files %}
         <h3>Файлы</h3>

         <ul>
             {% for file in content.publishedFiles %}
             {% block content_file %}
             <li><a target="_blank" href="{{ file.file.path }}">{{ file }}</a></li>
             {% endblock content_file %}
             {% endfor %}
         </ul>
        {% endblock content_files %}
        {% endif #}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% block content_comments %}

            <div class="item-comments">

                <h4>Оставьте оценку и отзыв о товаре</h4>
                {% if comments is defined and comments | length %}
                    {% for comment in comments %}
                        <div class="item-comment">
                            <div class="comment-user"><span class="comment-user-name">{{ comment.user }}</span> <span class="comment-user-date">{{ comment.createdAt | date("d.m.Y H:i:s") }}</span></div>
                            <div class=""><span class="comment-text">{{ comment.comment }}</span></div>
                            <div class="item-feature item-rate">
                                {% if comment.rate is defined and comment.rate | length and comment.rate != 0 %}
                                    <span class="item-title item-rate">Оценка:</span>
                                    <span class="item-rate-value item-rate-gold-value item-rate-{{ comment.rate | number_format }}"></span>
                                    <span class="item-rate-value item-rate-gray-value item-rate-{{ 5 - comment.rate | number_format }}"></span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Пока что у этого товара нет отзывов. Поделитесь своим впечатлением о нём, и другие покупатели будут вам благодарны.
                {% endif %}

                {% if rate_comment_item is defined %}
                    {% block rate_comment_item %}
                        {% if rate_comment_item.id is defined %}
                            {#<div class="app_comment_form"></div>
                            <a class="btn btn-success" id="app_comment_item" path-controller="{{ path('app_item_comment_edit', {'item_id': content.id}) }}">Редактировать комментарий</a>#}
                        {% else %}
                            <div class="app_comment_form"></div>
                            <a class="btn btn-success" id="app_comment_item" path-controller="{{ path('app_item_comment_add', {'item_id': content.id}) }}">Добавить комментарий</a>
                        {% endif %}
                    {% endblock rate_comment_item %}
                {% endif %}

            </div>
        {% endblock content_comments %}
    </div>
</div>

{% endif %}
{% endblock page_body %}

