<div class="form-group control-group ajax-model" id="{{ form_name }}_model">
    <label class="col-sm-3 control-label" for="{{ form_name }}_model">
        Модель
    </label>
    <div class="col-sm-9">
        <select id="{{ form_name }}_model" name="{{ form_name }}[model]" class="form-control">
            <option value="">Укажите модель</option>
            {% for model in models %}
                <option value="{{ model.id }}" {% model.id === item_model ? 'selected':'' %}>{{ model.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>