<div class="form-group control-group ajax-size">
    <label class="col-sm-3 control-label required" for="{{ form_name }}_size">
        Размер
    </label>
    <div class="col-sm-9">
        <select id="{{ form_name }}_size" name="{{ form_name }}[size]" class="form-control">
            <option value="">Укажите размер</option>
            {% for size in sizes %}
                <option value="{{ size.id }}" {{ item_size is defined and size.id == item_size ? 'selected' : '' }}>{{ size.value }}</option>
            {% endfor %}
        </select>
    </div>
</div>