{% extends 'form_div_layout.html.twig' %}
{% block entity_widget %}
    {% block oh_colorpicker_javascripts %}

            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


            {% javascripts
                    '../vendor/tkrotoff/jquery-simplecolorpicker/jquery.simplecolorpicker.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        <script type="text/javascript">
            $(function(){
               $('#{{id}}').simplecolorpicker({picker: false});
            });
        </script>
    {% endblock %}

    {% block oh_colorpicker_stylesheets %}

            {% stylesheets
                    '../vendor/tkrotoff/jquery-simplecolorpicker/jquery.simplecolorpicker.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}

    {% endblock %}

    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for key, choice in form.vars.choices %}
                <div class="">
                    {% if form.vars.name != 'color' %}
                        {{ choice.label|trans({}, translation_domain) }}
                    {% else %}
                        {{ form_widget(form[key], {'attr': {'class': attr.widget_class|default('')}}) }}
                        <div style="background-color: {{ choice.label }}" class="filter-color-box"></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
             
{% endblock %}