{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="/" class="breadcrumbs-item-link link" itemprop="url"><span itemprop="title">Главная</span></a></span>
        {% if breadcrumbs is defined %}
            {% for rubric in breadcrumbs %}
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="{{ entitypath(rubric) }}" itemprop="url" class="breadcrumbs-item-link link"><span itemprop="title">{{ rubric }}</span></a></span>
            {% endfor %}
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block page_body %}


{% if searchForm is defined and searchForm %}
{% block search_form %}
{% form_theme searchForm 'form_table_layout.html.twig' %}
<form action="../../../../Application/Iphp/CoreBundle/Resources/views" method="get" {{ form_enctype(searchForm) }}>
    {{ form_widget(searchForm) }}
    <input type="submit" value="Искать"/>
</form>
{% endblock search_form %}
{% endif %}

{% if filterForm is defined and filterForm %}
{% block items_filter %}
    <div id="ItemsFilter">
    <form id="ItemsFilter_form" action="" method="post">
        <div class="form-row">
            <div class="col-sm-1 title">Фильтр:</div>
            <div class="col-sm-1 col">{{ form_widget(filterForm.brand, {'attr': {'class':'filter-form-item brand'}}) }}</div>
            <div class="col-sm-1 col">{{ form_widget(filterForm.size, {'attr': {'class':'filter-form-item size'}}) }}</div>
            <div class="col-sm-1 col">{{ form_widget(filterForm.color, {'attr': {'class':'filter-form-item color'}}) }}</div>
            <div class="col-sm-1 col">{{ form_widget(filterForm.gender, {'attr': {'class':'filter-form-item gender'}}) }}</div>
            <div class="col-sm-7 title">Поиск</div>
        </div>
    </form>
    </div>
{% endblock items_filter %}
{% endif %}

{% if entities is defined and entities %}
{% block entity_list%}

{% for entity in entities %}

{% if entity.enabled %}
    {% block entity_list_entry %}
    <div class="c-item">

        {% block entity_list_entry_image  %}
            <div class="item-img"><a href="{{ entitypath(entity) }}" target="_blank">
                <img src="{% if entity.imagesMedia | length %}
                {% path entity.imagesMedia[0].media, 'preview' %}
            {% elseif (entity.blueimpImages is defined) and entity.blueimpImages | length %}
                {{ '/uploads/attachments/' ~  entity.id ~ '/small/' ~ entity.blueimpImages[0].name }}
            {% endif %}" class="img-polaroid">
            </a></div>
        {% endblock entity_list_entry_image  %}

        {% block entity_list_entry_title  %}
            <div class="item-title"><a href="{{ entitypath(entity) }}">{{ entity }}</a></div>
        {% endblock entity_list_entry_title  %}

        {% block entity_list_entry_brand  %}
            <div class="item-brand">{{ entity.brand }}</div>
        {% endblock entity_list_entry_brand  %}

        {% block entity_list_entry_announce  %}
        <div class="item-announce">
             {{ entity.abstract is defined ? entity.abstract | raw  : '' }}
             {{ entity.description is defined ? entity.description | raw : '' }}
             {{ entity.announce is defined ? entity.announce | raw : '' }}
             {{ entity.size is defined and entity.size is not null ? 'Размер: ' ~ entity.size | raw : '' }}
        </div>
        {% endblock entity_list_entry_announce  %}

        {% block entity_list_entry_price  %}
            <div class="item-price">
                Цена: {{ entity.price is defined ? entity.price | raw : '0' }} руб.
            </div>
        {% endblock entity_list_entry_price  %}

    </div>
    {% endblock entity_list_entry%}
{% endif %}

{% endfor %}
{% endblock entity_list%}


{% block pagination %}
{% include 'IphpCoreBundle::pagination.html.twig' with {'entities': entities} %}
{% endblock pagination %}

{% endif%}

{% endblock page_body %}

