{% extends 'TooBigAppBundle::page-with-header.html.twig' %}


{% block page_body %}


{% if searchForm is defined and searchForm %}
{% block search_form %}
{% form_theme searchForm 'form_table_layout.html.twig' %}
<form action="../../../../Application/Iphp/CoreBundle/Resources/views" method="get" {{ form_enctype(searchForm) }}>
    {{ form_widget(searchForm) }}
    <input type="submit" value="Искать"/>
</form>
{% endblock search_form %}
{% endif %}


{% if entities is defined and entities %}
{% block entity_list%}

{% for entity in entities %}

{% if entity.enabled %}
    {% block entity_list_entry %}
    <div class="c-item">

        {% block entity_list_entry_image  %}
            {% if entity.imagesMedia | length %}
                <div class="item-img"><a href="{{ entitypath(entity) }}" target="_blank"><img src="{% path entity.imagesMedia[0].media, 'preview' %}" class="img-polaroid"></a></div>
            {% elseif (entity.blueimpImages is defined) and entity.blueimpImages | length %}
                <div class="item-img"><a href="{{ entitypath(entity) }}" target="_blank"><img src="/uploads/attachments/{{ entity.id }}/small/{{ entity.blueimpImages[0].name }}" class="img-polaroid"></a></div>
            {% endif %}
        {% endblock entity_list_entry_image  %}

        {% block entity_list_entry_title  %}
            <div class="item-title"><a href="{{ entitypath(entity) }}">{{ entity }}</a></div>
        {% endblock entity_list_entry_title  %}

        {% block entity_list_entry_brand  %}
            <div class="item-brand">{{ entity.brand }}</div>
        {% endblock entity_list_entry_brand  %}

        {% block entity_list_entry_announce  %}
        <div class="item-announce">
             {{ entity.abstract is defined ? entity.abstract | raw  : '' }}
             {{ entity.description is defined ? entity.description | raw : '' }}
             {{ entity.announce is defined ? entity.announce | raw : '' }}
             {{ entity.size is defined ? 'Размер: ' ~ entity.size | raw : '' }}
        </div>
        {% endblock entity_list_entry_announce  %}

        {% block entity_list_entry_price  %}
            <div class="item-price">
                Цена: {{ entity.price is defined ? entity.price | raw : '0' }} руб.
            </div>
        {% endblock entity_list_entry_price  %}

    </div>
    {% endblock entity_list_entry%}
{% endif %}

{% endfor %}
{% endblock entity_list%}


{% block pagination %}
{% include 'IphpCoreBundle::pagination.html.twig' with {'entities': entities} %}
{% endblock pagination %}

{% endif%}

{% endblock page_body %}

