

            <div class="panel-body">
                <form name="FinishRegister" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

                    <div class="form-group">
                        <label for="fos_user_registration_form_email" class="col-sm-12 control-label">{{ 'form.email'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="col-sm-12 {% if form_errors(form.email)  %}error{% endif %}">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class='error'>{{ form_errors(form.email) }}</div>
                    </div>

                    <div class="form-group">
                        <label for="fos_user_registration_form_username" class="col-sm-12 control-label">{{ 'form.username'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="col-sm-12 {% if form_errors(form.username)  %}error{% endif %}">{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class='error'>{{ form_errors(form.username) }}</div>
                    </div>

                    <div class="form-group">
                        <label for="fos_user_registration_form_place" class="col-sm-12 control-label">{{ 'form.place'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="col-sm-12 {% if form_errors(form.place)  %}error{% endif %}">{{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class='error'>{{ form_errors(form.place) }}</div>
                    </div>

                    <div class="form-group">
                        <label for="fos_user_registration_form_password" class="col-sm-12 control-label">{{ 'form.place'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="col-sm-12 {% if form_errors(form.place)  %}error{% endif %}">{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}</div>
                        <div class='error'>{{ form_errors(form.plainPassword) }}</div>
                    </div>

                   

                    {{ form_widget(form.phone) }}
                    {{ form_widget(form.place_geo_lat) }}
                    {{ form_widget(form.place_geo_lon) }}
                    {{ form_widget(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="btn btn-primary finish-register-button">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</div>
                        </div>
                    </div>
                </form>

            </div>