{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block title %}Список моих подписок{% endblock %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block page_header %}
    {% block crumbs %}
        <div class="breadcrumbs">
            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="/" class="breadcrumbs-item-link link" itemprop="url"><span itemprop="title">Главная</span></a></span>
            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a itemprop="url" class="breadcrumbs-item-link link"><span itemprop="title">Список моих подписок</span></a></span>
        </div>
    {% endblock crumbs %}
{% endblock page_header %}

{% block page_body %}

    {% if entities is defined and entities | length > 0 %}
        {% block entity_list%}
            <a class="btn btn-success btn-subscription-add" href="{{ path('app_subscription_add') }}">Добавить подписку</a>
            <div id="my-item-list">
                <div class="row heading">
                   <div class="col-md-4">
                        Наименование
                    </div>
                    <div class="col-md-3">
                        Содержание подписки
                    </div>
                    <div class="col-md-1">
                        Статус
                    </div>
                    <div class="col-md-2">
                        Объявлений
                    </div>
                    <div class="col-md-2">
                        Операции
                    </div>
                </div>
                {% for entity in entities %}

                    {% block entity_list_entry %}
                        <div class="row item">
                            {% block entity_list_entry_title  %}
                                <div class="col-md-4">
                                    {% block entity_list_entry_link  %}
                                        <div>
                                            <a href="{{ path('app_subscription_items_list', {'subscription_id': entity.id}) }}">{{ entity.title }}</a>
                                        </div>
                                    {% endblock entity_list_entry_link  %}
                                    {% block entity_list_entry_created_at  %}
                                        <div>
                                            {% if entity.createdAt is not null %}
                                                <span class="item-created-at">{{ entity.createdAt | date("d.m.Y H:i:s") }}</span>
                                            {%  endif %}
                                        </div>
                                    {% endblock entity_list_entry_created_at  %}

                                </div>
                            {% endblock entity_list_entry_title  %}
                            {% block entity_list_entry_contents  %}
                                <div class="col-md-3">
                                    <div>
                                        {{ entity.rubric is defined ? entity.rubric | raw : '' }}
                                        {% if entity.color is defined %}
                                            {% for color_selection in entity.color %}
                                                <div style="background-color: {{ color_selection }}" class="selected-color-box"></div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ entity.brand is defined ? entity.brand | raw  : '' }}
                                        {{ entity.model is defined ? entity.model | raw : '' }}
                                        {% if entity.gender is defined %}

                                            {%  if entity.gender == 'm' %}
                                                Мальчик
                                            {%  elseif entity.gender == 'f' %}
                                                Девочка
                                            {%  elseif entity.gender == 'u' %}
                                                Унисекс
                                            {%  endif %}

                                        {%  endif %}
                                        {{ entity.size_type is defined ? entity.size_type | raw : '' }}
                                        {{ entity.size is defined ? entity.size | raw : '' }}
                                        {{ entity.price_min is defined ? entity.price_min | raw : '' }}
                                        {{ entity.price_max is defined ? entity.price_max | raw : '' }}
                                    </div>
                                </div>
                            {% endblock entity_list_entry_contents  %}
                            {% block entity_list_entry_enabled  %}
                                <div class="col-md-1">
                                    <span class="item-enabled-{{ entity.enabled }}">
                                        {% if entity.enabled %}
                                            <i class="glyphicon glyphicon-ok-circle"></i>
                                    {% else %}
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            {% endblock entity_list_entry_enabled  %}
                            {% block entity_list_entry_items  %}
                                <div class="col-md-2">
                                    <span class="item-items">
                                        <a href="{{ path('app_subscription_items_list', {'subscription_id': entity.id}) }}">
                                        {{ render(controller('TooBigAppBundle:Subscription:getSubscriptionItemsCount', {
                                            'subscription_id': entity.id
                                        })) }}
                                        </a>
                                    </span>
                                </div>
                            {% endblock entity_list_entry_items  %}

                            <div class="col-md-2">
                                <a href="{{ path('app_subscription_edit', {'subscription_id': entity.id}) }}"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="{{ path('app_subscription_delete', {'subscription_id': entity.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>

                        </div>
                    {% endblock entity_list_entry%}

                {% endfor %}
            </div>
        {% endblock entity_list%}


        {% block pagination %}
            {% include 'IphpCoreBundle::pagination.html.twig' with {'entities': entities} %}
        {% endblock pagination %}

    {% elseif entities is defined and entities | length == 0 %}
        У вас еще не создано ни одной подписки.
    {% endif %}

{% endblock page_body %}