<div class="form-group ajax-blueimp" id="sonata-ba-field-container-blueimp">
    <label class="control-label" for="blueimp">
        Загруженные пользователем файлы
    </label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
        <div class="shopitem-img-div">
            <div class="clearfix">
                <a class="jqzoom" rel='gal1' title="triumph" href="/uploads/attachments/{{ item.id }}/originals/{{ files[0] }}" rel="{{ files[0] }}">
                    <img class="shopitem-img-main" src="/uploads/attachments/{{ item.id }}/small/{{ files[0] }}"/>
                </a>
            </div>
        </div>
        <div class="shopitem-img-list-div">
            <ul id="thumblist" class="clearfix">
                {% for file in files %}
                    <li>
                        <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '/uploads/attachments/{{ item.id }}/small/{{ file }}',largeimage: '/uploads/attachments/{{ item.id }}/originals/{{ file }}'}">
                            <img border="0" src="/uploads/attachments/{{ item.id }}/thumbnails/{{ file }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>