<div class="form-group ajax-blueimp" id="sonata-ba-field-container-blueimp">
    <label class="control-label" for="blueimp">
        Загруженные пользователем файлы
    </label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
        <ul id="thumblist" class="">
            {% for file in existingFiles %}
                <li>
                    <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '/uploads/attachments/{{ item.id }}/small/{{ file }}',largeimage: '/uploads/attachments/{{ item.id }}/originals/{{ file }}'}">
                        <img border="0" src="/uploads/attachments/{{ item.id }}/thumbnails/{{ file }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>