{% if rubrics | length %}
<select class="form-rubric form-group form-control" data-struct="{{ struct + 1 }}">
    <option>Выбрать</option>
    {% for rubric in rubrics %}
        <option class="rubric" value="{{ rubric.id }}">{{ rubric.title }}</option>
    {% endfor %}
</select>
{% endif %}
<div id="struct-{{ struct + 1 }}">
    {% if struct != 1 %}
        <div class="form-group">
            {% if breadcrumbs is defined %}
                {% for rub in breadcrumbs %}
                    <span class="breadcrumbs-item"><a href="{{ entitypath(rub) }}" class="breadcrumbs-item-link link"><span>{{ rub }}</span></a></span>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</div>